{% extends 'template.html' %}

{% load staticfiles %}

{% block eloaded %}
    Error.onWindowLoad();

    {% block ecloaded %} {% endblock %}
{% endblock %}

{% block hscripts %}
    <script type="text/javascript" src="{% static 'js/cabinet/error/error.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
            Error.initializeError("{{ cabinetErrorCode | escapejs }}");
        {% endautoescape %}
    </script>

    {% block hcscripts %} {% endblock %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
{% endblock %}

{% block content %}

    <div id="cabinet-content-screen">
        <div id="left-block">
            <div id="information-block">
                {% block information %} {% endblock %}
            </div>

            <div id="options-block">
                <ul id="options-panel">
                    {% block options %} {% endblock %}
                </ul>
            </div>
        </div>

        <div id="center-block">
            <div id="items-block">
                {% block items %} {% endblock %}
            </div>
        </div>

        <div id="right-block">
            <div id="about-block">
                {% block about %} {% endblock %}
            </div>
        </div>
    </div>

    <div id="dialog-block">
        {% block dialog %} {% endblock %}
    </div>

    <div id="clonable-block">
        {% block clonable %} {% endblock %}
    </div>

    <div id="cabinet-error-screen">
        <span id="cabinet-error-message"></span>
    </div>

{% endblock %}

