{% extends 'cabinet.html' %}

{% load staticfiles %}

{% block ecloaded %}
    Interaction.onWindowLoad();
{% endblock %}

{% block hcscripts %}
    <script type="text/javascript" src="{% static 'js/group/interaction/interaction.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/group/gui/workarea.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
            Interaction.initializeGroup("{{ groupInformation | escapejs }}", "{{ membersInformation | escapejs }}", "{{ curatorsInformation | escapejs }}");
        {% endautoescape %}
    </script>
{% endblock %}

{% block title %}Group{% endblock %}

{% block information %}
    <p class="caption">About group</p>
    <p><span class="prefix">Title:</span><span id="information-group-title"></span></p>
    <p><span class="prefix">ID:</span><span id="information-group-identifier"></span></p>
{% endblock %}

{% block options %}
    <li>
        <button class="options-button">Invite student</button>
    </li>
    <li>
        <button class="options-button">Invite curator</button>
    </li>
    <li>
        <button class="options-button">Quit group</button>
    </li>
    <li>
        <button class="options-button">Rename group</button>
    </li>
    <li>
        <button class="options-button">Delete group</button>
    </li>
{% endblock %}

{% block items %}
    <ul class="content-tabs">
        <li><span id="student-tab" class="tab-label active-tab">Students</span></li>
        <li><span id="curator-tab" class="tab-label">Curators</span></li>
    </ul>

    <div id="student-content" class="items-content">

    </div>

    <div id="curator-content" class="items-content">

    </div>
{% endblock %}

{% block about %}
    <div id="about-student">
        <p class="caption">About student</p>
        <p><span class="prefix">First name:</span><span id="about-student-first-name"></span></p>
        <p><span class="prefix">Last name:</span><span id="about-student-last-name"></span></p>
        <p><span class="prefix">Email:</span><span id="about-student-email"></span></p>
        <p><span class="prefix">ID:</span><span id="about-student-identifier"></span></p>

        <div class="about-button-container">
            <button class="about-button">Remove from group</button>
            <button class="about-button">To student page</button>
        </div>
    </div>

    <div id="about-curator">
        <p class="caption">About curator</p>
        <p><span class="prefix">First name:</span><span id="about-curator-first-name"></span></p>
        <p><span class="prefix">Last name:</span><span id="about-curator-last-name"></span></p>
        <p><span class="prefix">Position:</span><span id="about-curator-position"></span></p>
        <p><span class="prefix">Email:</span><span id="about-curator-email"></span></p>
        <p><span class="prefix">ID:</span><span id="about-curator-identifier"></span></p>

        <div class="about-button-container">
            <button class="about-button">Remove from group</button>
            <button class="about-button">To curator page</button>
        </div>
    </div>
{% endblock %}
{% block dialog %}
    <!-- Dialog's windows-->
    <div class="dialog-content-sure">
        <div class="dialog-title">
            <span>Are you sure?</span>
            <span class="dialog-close">&times;</span>
        </div>
        <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="No"/>
        </div>
    </div>
    <div class="dialog-change-information">
        <div class="dialog-title">
            <span class="dialog-text">Group</span>
            <span class="dialog-close">&times;</span>
        </div>
        <div class="content-change-information">
            <form action="" method="post" autocomplete="on">

                <p>
                    <label for="dialog-register-first-name">Title:</label>
                    <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                </p>

            </form>
        </div>

        <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel"/>
        </div>
    </div>
{% endblock %}
{% block clonable %}
    <figure id="clonable-student-item" class="item">
        <img src="{% static 'src/student.png' %}" alt="student">
        <figcaption></figcaption>
    </figure>

    <figure id="clonable-curator-item" class="item">
        <img src="{% static 'src/teacher.png' %}" alt="curator">
        <figcaption></figcaption>
    </figure>
{% endblock %}
