{% extends 'cabinet.html' %}

{% load staticfiles %}

{% block ecloaded %}
    Interaction.onWindowLoad();
{% endblock %}

{% block hcscripts %}
    <script type="text/javascript" src="{% static 'js/project/interaction/interaction.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/gui/workarea.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
            Interaction.initializeProject("{{ projectInformation | escapejs }}", "{{ filesInformation | escapejs }}");
        {% endautoescape %}
    </script>
{% endblock %}

{% block title %}Project{% endblock %}

{% block information %}
    <p class="caption">About project</p>
    <p><span class="prefix">Title:</span><span id="information-project-title"></span></p>
    <p><span class="prefix">ID:</span><span id="information-project-identifier"></span></p>
{% endblock %}

{% block options %}
    <li>
        <button class="options-button">Import from GitHub</button>
    </li>
    <li>
        <button class="options-button">Import from Google Drive</button>
    </li>
    <li>
        <button class="options-button">New file</button>
    </li>
    <li>
        <button class="options-button">Rename project</button>
    </li>
    <li>
        <button class="options-button">Delete project</button>
    </li>
{% endblock %}

{% block items %}
    <div id="file-content" class="items-content">
        <span id="file-no-access-error">
            You don't have permission to view project files.
        </span>
    </div>
{% endblock %}

{% block about %}
    <div id="about-file">
        <p class="caption">About file</p>
        <p><span class="prefix">File name:</span><span id="about-file-name"></span></p>
        <p><span class="prefix">Size:</span><span id="about-file-size"></span></p>
        <p><span class="prefix">ID:</span><span id="about-file-identifier"></span></p>
        <p><span class="prefix">Created:</span><span id="about-file-created-time"></span></p>
        <p><span class="prefix">Modified:</span><span id="about-file-modified-time"></span></p>

        <div class="about-button-container">
            <button class="about-button about-half-button">Rename</button>
            <button class="about-button about-half-button">Delete</button>
            <button class="about-button">Open in editor</button>
        </div>
    </div>
{% endblock %}
{% block dialog %}
    <!-- Dialog's windows-->
    <div class="dialog-content-sure">
        <div class="dialog-title">
            <span>Are you sure?</span>
            <span class="dialog-close">&times;</span>
        </div>
        <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="No"/>
        </div>
    </div>
    <div class="dialog-change-information">
        <div class="dialog-title">
            <span class="dialog-text">Project</span>
            <span class="dialog-close">&times;</span>
        </div>
        <div class="content-change-information">
            <form action="" method="post" autocomplete="on">

                <p>
                    <label for="dialog-register-first-name">Title:</label>
                    <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                </p>

            </form>
        </div>

        <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel"/>
        </div>
    </div>
    <div class="dialog-change-information">
        <div class="dialog-title">
            <span class="dialog-text">File</span>
            <span class="dialog-close">&times;</span>
        </div>
        <div class="content-change-information">
            <form action="" method="post" autocomplete="on">

                <p>
                    <label for="dialog-register-first-name">Title:</label>
                    <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                </p>

            </form>
        </div>

        <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel"/>
        </div>
    </div>
{% endblock %}
{% block clonable %}
    <figure id="clonable-file-item" class="item">
        <img src="{% static 'src/file.png' %}" alt="file">
        <figcaption></figcaption>
    </figure>
{% endblock %}




