{% extends 'template.html' %}

{% load staticfiles %}

{% block eloaded %}
    Interaction.onWindowLoad();
{% endblock %}

{% block eclicked %}
    Menu.onWindowClick(event);
{% endblock %}

{% block ehandler %}
    Hotkeys.onKeyPressed(event);
{% endblock %}

{% block ehidedialog %}
    Menu.hideMenu();
{% endblock %}

{% block ehidecontext %}
    Menu.hideContextMenu();
{% endblock %}

{% block hscripts %}
    <script type="text/javascript" src="{% static 'lib/js/svg.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/codemirror/addon/hint/show-hint.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/codemirror/mode/promela/promela.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/commands.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/automaton.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/area.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/process.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/state.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/constructor/constructor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/editor/editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/editor/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/interaction/project.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/interaction/environment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/interaction/interaction.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/gui/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin/gui/gui.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
            Environment.initializeEnvironment("{{ constructorMode | escapejs }}", "{{ spinErrorCode | escapejs }}", "{{ operationResult | escapejs }}", "{{ verificationMode | escapejs }}", "{{ savedConstructor | escapejs }}", "{{ savedSource | escapejs }}", "{{ savedOptions | escapejs }}", "{{ savedFlags | escapejs }}");
            Project.initializeProject("{{ projectsInformation | escapejs }}");
        {% endautoescape %}
    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/codemirror/addon/hint/show-hint.css' %}">
{% endblock %}

{% block title %}Spin{% endblock %}

{% block navigation %}
    <li id="menu-file-header" class="dropdown">
        <a class="normal-tab">File <b class="caret"></b></a>
        <div class="dropdown-content">
            <a id="menu-file-new-option" href="javascript:Menu.fileNew(null)">New...<span class="hotkey-description">Alt+N</span></a>
            <a id="menu-file-open-option" href="javascript:Menu.fileOpenFrom(null)">Open<span class="hotkey-description">Alt+O</span></a>
            <hr/>
            <a id="menu-file-save-option" class="unavailable-option" href="javascript:Menu.fileSaveTo(null)">Save As...<span class="hotkey-description">Alt+S</span></a>
            <hr/>
            <a id="menu-file-close-option" class="unavailable-option" href="javascript:Menu.fileClose(null)">Close<span class="hotkey-description">Alt+Q</span></a>
        </div>
    </li>
    <li id="menu-edit-header" class="dropdown">
        <a class="normal-tab">Edit <b class="caret"></b></a>
        <div class="dropdown-content">
            <a id="menu-edit-undo-option" class="unavailable-option" href="javascript:Constructor.undo()">Undo<span class="hotkey-description">Ctrl+Z, Alt+Z</span></a>
            <a id="menu-edit-redo-option" class="unavailable-option" href="javascript:Constructor.redo()">Redo<span class="hotkey-description">Ctrl+Y, Alt+Y</span></a>
            <hr/>
            <a id="menu-edit-rename-option" class="unavailable-option" href="javascript:void(null)">Rename<span class="hotkey-description">Alt+R</span></a>
            <a id="menu-edit-delete-option" class="unavailable-option" href="javascript:void(null)">Delete<span class="hotkey-description">Delete</span></a>
        </div>
    </li>
    <li id="menu-constructor-header" class="dropdown">
        <a class="normal-tab">Constructor <b class="caret"></b></a>
        <div class="dropdown-content">
            <a id="menu-constructor-new-process-option" href="javascript:Menu.constructorNewProcess(null)">New process<span class="hotkey-description">Alt+P</span></a>
            <a id="menu-constructor-change-context-option" class="unavailable-option" href="javascript:void(null)">Change context<span class="hotkey-description">Alt+B</span></a>
            <hr/>
            <a id="menu-constructor-new-state-option" class="unavailable-option" href="javascript:void(null)">New state<span class="hotkey-description">Alt+G</span></a>
            <a id="menu-constructor-set-initial-option" class="unavailable-option" href="javascript:void(null)">Initial<span class="hotkey-description">Alt+I</span></a>
            <hr/>
            <a id="menu-constructor-new-transition-option" class="unavailable-option" href="javascript:void(null)">New transition<span class="hotkey-description">Alt+T</span></a>
        </div>
    </li>
{% endblock %}

{% block content %}

    <div id="content-block">
        <div id="constructor-block">
            <span class="caption">Constructor</span>

            <p id="constructor-step-counter-body" class="description">Count of steps: <span id="constructor-step-counter">0</span></p>

            <div id="constructor-overlay"></div>

            <div id="constructor" class="control-input">
                <div id="constructor-root">

                </div>
            </div>
        </div>

        <div id="instruments-block">
            <span class="caption">Instruments</span>

            <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;This instrument creates new process for finite-state automaton.</p>

            <div class="instrument-label">
                <input id="new-process-button" type="button" value="P" onclick="Menu.constructorNewProcess(null)"/>
                <p>New process</p>
            </div>

            <br/>
            <hr/>

            <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;This instrument creates new state for process of finite-state automaton.</p>

            <div class="instrument-label">
                <input id="new-state-button" class="unavailable-button" type="button" value="S" onclick="Menu.constructorNewState(null)"/>
                <p>New state</p>
            </div>

            <br/>
            <hr/>

            <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;This instrument creates new transition between two states for process of finite-state automaton.</p>

            <div class="instrument-label">
                <input id="new-transition-button" class="unavailable-button" type="button" value="&#x27F6;" onclick="Menu.constructorNewTransition(null)"/>
                <p>New transition</p>
            </div>

            <br/>

            <h3 class="control-caption">Context</h3>

            <div class="text-container control-input">
                <pre id="application-global-context" contenteditable="true" class="modifiable-text editable-field" spellcheck="false"></pre>
                <pre id="application-init-start" class="unmodifiable-text"></pre>
                <pre id="application-init-content" contenteditable="true" class="modifiable-text editable-field" spellcheck="false"></pre>
                <pre id="application-init-end" class="unmodifiable-text"></pre>
            </div>

            <div id="to-promela-block">
                <span id="to-promela-error"></span>
                <input id="to-promela-button" type="button" value="To promela source" onclick="Gui.convertToPromela()"/>
            </div>
        </div>

        <div id="source-block">
            <span class="caption">Promela source code</span>
            <textarea id="promela-source" class="control-input editable-field" form="submit-form" name="promela-source" title="Promela source code." wrap="off" autocomplete="off"
                      spellcheck="false"></textarea>
        </div>

        <div id="options-block">
            <span class="caption">Options</span>

            <ul class="verification-simulation-tabs">
                <li><span id="verification-tab" class="tab-label active-tab" onclick="Gui.activateVerificationMode(true)">Verification</span></li>
                <li><span id="simulation-tab" class="tab-label" onclick="Gui.activateSimulationMode(true)">Simulation</span></li>
            </ul>

            <div id="verification-content">
                <h3 class="control-caption">Safety parameters</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Safety&raquo; option optimizes (faster, uses less memory) for the case where no cycle detection is needed (gcc option
                    -DSAFETY).</p>

                <label class="control-label">
                    <input id="safety-radiobutton" name="safety-radiobutton" class="control-radiobutton" type="radio" data-bound="safety-options" checked onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon radiobutton-icon-checked">&#x25CF;</span>
                    <p>Safety</p>
                </label>

                <div id="safety-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Invalid endstates&raquo; option suppresses (if unchecked) the reporting of invalid endstate errors (compile option -E).</p>

                    <label class="control-label">
                        <input id="invalid-endstates-checkbox" class="control-checkbox" type="checkbox" checked onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon checkbox-icon-checked">&#x2713;</span>
                        <p>Invalid endstates</p>
                    </label>

                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Assertion violations&raquo; option suppresses (if unchecked) the reporting of assertion violations (compile option -A).</p>

                    <label class="control-label">
                        <input id="assertion-violations-checkbox" class="control-checkbox" type="checkbox" checked onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon checkbox-icon-checked">&#x2713;</span>
                        <p>Assertion violations</p>
                    </label>
                </div>

                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Liveness non-progress cycles&raquo; option enables non-progress cycle detection (gcc option -DNP, compile option -l).</p>

                <label class="control-label">
                    <input id="liveness-non-progress-radiobutton" name="safety-radiobutton" class="control-radiobutton" type="radio" data-bound="non-progress-options"
                           onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon">&#x25CF;</span>
                    <p>Liveness non-progress cycles</p>
                </label>

                <div id="non-progress-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Enforce fairness constant&raquo; option adds weak fairness for liveness options (compile option -f).</p>

                    <label class="control-label">
                        <input id="non-progress-fairness-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon">&#x2713;</span>
                        <p>Enforce fairness constant</p>
                    </label>
                </div>

                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Liveness acceptable cycles&raquo; option used for checking the presence of acceptance cycles (compile option -a).</p>

                <label class="control-label">
                    <input id="liveness-acceptable-radiobutton" name="safety-radiobutton" class="control-radiobutton" type="radio" data-bound="acceptable-options"
                           onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon">&#x25CF;</span>
                    <p>Liveness acceptable cycles</p>
                </label>

                <div id="acceptable-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Enforce fairness constant&raquo; option adds weak fairness for liveness options (compile option -f).</p>

                    <label class="control-label">
                        <input id="acceptable-fairness-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon">&#x2713;</span>
                        <p>Enforce fairness constant</p>
                    </label>
                </div>

                <h3 class="control-caption">Storage mode</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Exhaustive storage mode&raquo; option used by default.</p>

                <label class="control-label">
                    <input id="exhaustive-radiobutton" name="storage-mode-radiobutton" class="control-radiobutton" type="radio" data-bound="exhaustive-options" checked
                           onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon radiobutton-icon-checked">&#x25CF;</span>
                    <p>Exhaustive storage mode</p>
                </label>

                <div id="exhaustive-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Collapse compression&raquo; option collapses state vector sizes by up to 80% to 90%. (gcc option -DCOLLAPSE).</p>

                    <label class="control-label">
                        <input id="collapse-compression-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon">&#x2713;</span>
                        <p>Collapse compression</p>
                    </label>
                </div>

                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Hash-compact storage mode&raquo; option collapses state vector sizes down to 32+16 bits and stores them
                    in conventional hash-table (gcc option -DHC4).</p>

                <label class="control-label">
                    <input id="hash-compact-radiobutton" name="storage-mode-radiobutton" class="control-radiobutton" type="radio" onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon">&#x25CF;</span>
                    <p>Hash-compact storage mode</p>
                </label>

                <br/>
                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Bitstate storage mode&raquo; option changes supertrace/bitstate instead of exhaustive exploration (gcc option -DBITSTATE, compile
                    options -k3 -w20).</p>

                <label class="control-label">
                    <input id="bitstate-radiobutton" name="storage-mode-radiobutton" class="control-radiobutton" type="radio" onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon">&#x25CF;</span>
                    <p>Bitstate storage mode</p>
                </label>

                <h3 class="control-caption">Search mode</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Depth-first search&raquo; option used by default. Specifies algorithm for traversing or searching tree or graph data
                    structures.</p>

                <label class="control-label">
                    <input id="depth-first-radiobutton" name="search-mode-radiobutton" class="control-radiobutton" type="radio" data-bound="depth-first-options" checked
                           onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon radiobutton-icon-checked">&#x25CF;</span>
                    <p>Depth-first search</p>
                </label>

                <div id="depth-first-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Partial order reduction&raquo; option disables (if unchecked) the partial order reduction algorithm (gcc option
                        -DNOREDUCE).</p>

                    <label class="control-label">
                        <input id="depth-first-partial-order-checkbox" class="control-checkbox" type="checkbox" checked onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon checkbox-icon-checked">&#x2713;</span>
                        <p>Partial order reduction</p>
                    </label>

                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Iterative search&raquo; option searches for shortest path to error (compile option -i).</p>

                    <label class="control-label">
                        <input id="iterative-search-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon">&#x2713;</span>
                        <p>Iterative search</p>
                    </label>

                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Bounded context switching&raquo; option uses bounded context switching algorithm. Sets a restriction on the max nr of context
                        switches to N (gcc option -DBCS, compile option -L+N).</p>

                    <label class="control-label">
                        <input id="bounded-context-switching-checkbox" class="control-checkbox" type="checkbox" data-bound="bounded-context-switching-options"
                               onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon">&#x2713;</span>
                        <p>Bounded context switching</p>
                    </label>

                    <div id="bounded-context-switching-options">
                        <label class="control-label">
                            <p>Maximum number of context switches: </p>
                            <input id="maximum-context-switches" class="control-number control-input" type="number" min="0" max="1000" step="1" value="10" oninput="Gui.commandLineFormer()"/>
                        </label>
                    </div>

                </div>

                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Breadth-first search&raquo; option uses breadth-first, instead of depth-first search. Specifies algorithm for traversing or
                    searching tree or graph data structures (gcc option -DBFS).</p>

                <label class="control-label">
                    <input id="breadth-first-radiobutton" name="search-mode-radiobutton" class="control-radiobutton" type="radio" data-bound="breadth-first-options"
                           onchange="Gui.radiobuttonIconChanged(this)"/>
                    <span class="radiobutton-icon">&#x25CF;</span>
                    <p>Breadth-first search</p>
                </label>

                <div id="breadth-first-options">
                    <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Partial order reduction&raquo; option disables (if unchecked) the partial order reduction algorithm (gcc option
                        -DNOREDUCE).</p>

                    <label class="control-label">
                        <input id="breadth-first-partial-order-checkbox" class="control-checkbox" type="checkbox" checked onchange="Gui.checkboxIconChanged(this)"/>
                        <span class="checkbox-icon checkbox-icon-checked">&#x2713;</span>
                        <p>Partial order reduction</p>
                    </label>
                </div>

                <h3 class="control-caption">Useful flags</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Report unreachable code&raquo; option hides (if unchecked) listing of unreached states at the end of the run (compile option
                    -n).</p>

                <label class="control-label">
                    <input id="report-unreachable-checkbox" class="control-checkbox" type="checkbox" checked onchange="Gui.checkboxIconChanged(this)"/>
                    <span class="checkbox-icon checkbox-icon-checked">&#x2713;</span>
                    <p>Report unreachable code</p>
                </label>

            </div>

            <div id="simulation-content">
                <h3 class="control-caption">Simulation parameters</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Seed&raquo; option sets the seed for a random simulation to the integer value N (spin option -n+N). Shows the current value of
                    local variables of the process.</p>

                <label class="control-label">
                    <p>Seed: </p>
                    <input id="seed" class="control-number control-input" type="number" min="0" max="100000" step="1" value="12345" oninput="Gui.commandLineFormer()"/>
                </label>

                <br/>
                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Maximum number of steps&raquo; option stops a random or guided simulation after the first N steps (spin option -u+N).</p>

                <label class="control-label">
                    <p>Maximum number of steps: </p>
                    <input id="maximum-steps" class="control-number control-input" type="number" min="0" max="100000" step="1" value="10000" oninput="Gui.commandLineFormer()"/>
                </label>

                <h3 class="control-caption">Useful flags</h3>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Track data values&raquo; option shows the current value of local variables of the process (spin option -l) and
                    at each time step shows the current value of global variables (spin option -g).</p>

                <label class="control-label">
                    <input id="track-data-values-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                    <span class="checkbox-icon">&#x2713;</span>
                    <p>Track data values</p>
                </label>

                <br/>
                <hr/>

                <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Lose new messages&raquo; option changes the semantics of send events (spin option -m). Ordinarily, a send action will be blockeddd
                    if the target message buffer is full.
                    With this option a message sent to a full buffer is lost.</p>

                <label class="control-label">
                    <input id="lose-new-messages-checkbox" class="control-checkbox" type="checkbox" onchange="Gui.checkboxIconChanged(this)"/>
                    <span class="checkbox-icon">&#x2713;</span>
                    <p>Lose new messages</p>
                </label>

            </div>
        </div>

        <div id="flags-block">
            <span class="caption">Command line</span>
            <textarea id="command-line" class="control-input" form="submit-form" name="command-line" title="Command line." readonly rows="3" wrap="off" autocomplete="off"
                      spellcheck="false"></textarea>
        </div>

        <div id="submit-block">
            <span id="submit-error"></span>

            <form id="submit-form" enctype="multipart/form-data" method="post" onsubmit="return Interaction.saveContext()">
                {% csrf_token %}
                <input id="hidden-constructor-mode" type="hidden" hidden name="constructor-mode"/>
                <input id="hidden-verification-mode" type="hidden" hidden name="verification-mode"/>
                <input id="hidden-constructor" type="hidden" hidden name="constructor"/>
                <input id="hidden-options" type="hidden" hidden name="options"/>
                <input id="submit-button" type="submit" value="Verification"/>
            </form>
        </div>

        <div id="result-block">
            <span class="caption">Result</span>
            <textarea id="operation-result" class="control-input" title="Spin result." wrap="off" autocomplete="off" spellcheck="false" readonly rows="200"></textarea>
        </div>
    </div>

    <div id="start-screen">
    <span class="start-message">
        To get started with Spin
        <br/>
        Use File &#x2192; New...
    </span>
    </div>

    <div id="menu-content">
        <div id="menu-constructor-new-process-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Create new process</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p class="menu-dialog-control"><label for="menu-constructor-new-process-name">Process name:</label>
                        <input id="menu-constructor-new-process-name" class="control-input menu-dialog-text" type="text"/>
                    </p>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-new-process-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-new-process-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorNewProcess(0x1)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-rename-process-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Rename process &laquo;<span id="menu-constructor-rename-process-old-name"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>New process name</p>
                    <input id="menu-constructor-rename-process-new-name" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-rename-process-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorRenameProcess(0x1, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-change-process-context-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Change context for process &laquo;<span id="menu-constructor-change-process-context-caption"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <div id="menu-constructor-change-process-context-text-container" class="text-container control-input">
                        <pre id="menu-constructor-change-process-context-process-header" class="unmodifiable-text"></pre>
                        <pre id="menu-constructor-change-process-context-process-parameters" contenteditable="true" class="modifiable-text editable-field" spellcheck="false"></pre>
                        <pre id="menu-constructor-change-process-context-start-bracket" class="unmodifiable-text"></pre>
                        <pre id="menu-constructor-change-process-context-process-context" contenteditable="true" class="modifiable-text editable-field" spellcheck="false"></pre>
                        <pre id="menu-constructor-change-process-context-automaton-source" class="unmodifiable-text"></pre>
                    </div>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-change-process-context-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-change-process-context-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorChangeProcessContext(0x1, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-new-state-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Create new state for process &laquo;<span id="menu-constructor-new-state-caption"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>State name</p>
                    <input id="menu-constructor-new-state-name" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-new-state-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-new-state-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorNewState(0x1, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-rename-state-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Rename state &laquo;<span id="menu-rename-state-old-name"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>New state name</p>
                    <input id="menu-rename-state-new-name" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-rename-state-submit-error" class="menu-submit-error"></span>
                    <input id="menu-rename-state-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorRenameState(0x1, null, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-new-transition-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Create new transition for process &laquo;<span id="menu-constructor-new-transition-caption"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>From state</p>
                    <select id="menu-constructor-new-transition-from-state-combobox" class="control-input menu-dialog-text menu-dialog-combobox">
                        <option selected="selected">Select state...</option>
                    </select>
                </div>
                <div class="menu-dialog-field">
                    <p>To state</p>
                    <select id="menu-constructor-new-transition-to-state-combobox" class="control-input menu-dialog-text menu-dialog-combobox">
                        <option selected="selected">Select state...</option>
                    </select>
                </div>
                <div class="menu-dialog-field">
                    <p>Condition</p>
                    <input id="menu-constructor-new-transition-condition" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-new-transition-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-new-transition-submit-button" class="menu-submit-button" type="button" value="Ok" onclick="Menu.constructorNewTransition(0x1, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-new-transition-from-state-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Create new transition from state &laquo;<span id="menu-constructor-new-transition-from-state-caption"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>To state</p>
                    <select id="menu-constructor-new-transition-from-state-to-state-combobox" class="control-input menu-dialog-text menu-dialog-combobox">
                        <option selected="selected">Select state...</option>
                    </select>
                </div>
                <div class="menu-dialog-field">
                    <p>Condition</p>
                    <input id="menu-constructor-new-transition-from-state-condition" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-new-transition-from-state-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-new-transition-from-state-submit-button" class="menu-submit-button" type="button" value="Ok"
                           onclick="Menu.constructorNewTransitionFromState(0x1, null, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-constructor-change-condition-for-transition-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Change condition for &laquo;<span id="menu-constructor-change-condition-for-transition-old-condition"></span>&raquo;</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <p>New condition</p>
                    <input id="menu-constructor-change-condition-for-transition-new-condition" class="control-input menu-dialog-text" type="text"/>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-constructor-change-condition-for-transition-submit-error" class="menu-submit-error"></span>
                    <input id="menu-constructor-change-condition-for-transition-submit-button" class="menu-submit-button" type="button" value="Ok"
                           onclick="Menu.constructorChangeConditionForTransition(0x1, null, null, null, null)"/>
                </div>
            </div>
        </div>

        <div id="menu-file-new-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Create new file</h2>
            </div>
            <div class="menu-dialog-body">
                <span class="menu-dialog-option" onclick="Menu.fileNew(0x1)">Constructor mode</span>
                <span class="menu-dialog-option" onclick="Menu.fileNew(0x2)">Promela source mode</span>
            </div>
        </div>

        <div id="menu-file-open-from-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Open from</h2>
            </div>
            <div class="menu-dialog-body">
                <span class="menu-dialog-option" onclick="Menu.fileOpenFrom(0x1)">File system</span>
                <span class="menu-dialog-option" onclick="Menu.fileOpenFrom(0x2)">Project</span>
                <div class="menu-dialog-submit">
                    <span id="menu-open-from-error" class="menu-submit-error"></span>
                </div>
            </div>
        </div>

        <div id="menu-file-save-to-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Save to</h2>
            </div>
            <div class="menu-dialog-body">
                <span class="menu-dialog-option" onclick="Menu.fileSaveTo(0x1)">File system</span>
                <span class="menu-dialog-option" onclick="Menu.fileSaveTo(0x2)">Project</span>
                <div class="menu-dialog-submit">
                    <span id="menu-save-to-error" class="menu-submit-error"></span>
                </div>
            </div>
        </div>

        <div id="menu-file-open-from-project-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Open from</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-field">
                    <button id="menu-open-from-project-back-button">&#8592; Back to projects</button>
                </div>
                <div class="menu-dialog-field">
                    <div id="menu-open-from-project-area" class="items-content"></div>
                </div>
                <div class="menu-dialog-submit">
                    <span id="menu-open-from-project-error" class="menu-submit-error"></span>
                </div>
            </div>
        </div>

        <div id="menu-file-save-to-project-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Save to</h2>
            </div>
            <div class="menu-dialog-body">
                <div class="menu-dialog-custom-field" id="menu-file-save-to-project-radio-block">
                    <label class="control-label">
                        <input id="menu-file-save-to-project-type-radiobutton-smcf" name="menu-file-open-from-project-type-radiobutton" class="control-radiobutton" type="radio"/>
                        <span class="radiobutton-icon">&#x25CF;</span>
                        <p>Save as model</p>
                    </label>

                    <label class="control-label">
                        <input id="menu-file-save-to-project-type-radiobutton-pml" name="menu-file-open-from-project-type-radiobutton" class="control-radiobutton" type="radio"/>
                        <span class="radiobutton-icon">&#x25CF;</span>
                        <p>Save as source code</p>
                    </label>
                </div>

                <div class="menu-dialog-custom-field" id="menu-file-save-to-project-name-block">
                    <span class="menu-dialog-custom-field-span">Filename: </span>
                    <input id="menu-file-save-to-project-name" class="control-input menu-dialog-text" type="text"/>
                    <span id="menu-file-save-to-project-extension" class="menu-dialog-custom-field-span">.pml</span>
                </div>

                <div class="menu-dialog-field">
                    <div id="menu-file-save-to-project-area" class="items-content"></div>
                </div>

                <div class="menu-dialog-submit">
                    <span id="menu-save-to-project-error" class="menu-submit-error"></span>
                </div>

                <form id="menu-file-save-to-project-submit-form" enctype="multipart/form-data" method="post" action="">
                    {% csrf_token %}
                    <input id="hidden-project-id" type="hidden" hidden name="project-id"/>
                    <input id="hidden-file-name" type="hidden" hidden name="file-name"/>
                    <input id="hidden-file-extension" type="hidden" hidden name="file-extension"/>
                    <input id="hidden-bytes" type="hidden" hidden name="bytes"/>
                </form>
            </div>
        </div>

        <div id="menu-file-save-as-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Save As</h2>
            </div>
            <div class="menu-dialog-body">
                <span class="menu-dialog-option" onclick="Menu.fileSaveAs(0x1)">Promela source code</span>
                <span class="menu-dialog-option" onclick="Menu.fileSaveAs(0x2)">Smcf file</span>
                <div class="menu-dialog-submit">
                    <span id="menu-save-as-error" class="menu-submit-error"></span>
                </div>
            </div>
        </div>

        <div id="menu-file-close-dialog" class="menu-dialog">
            <div class="menu-dialog-header">
                <span class="menu-dialog-close" onclick="Menu.hideMenu()">&times;</span>
                <h2 class="menu-dialog-caption">Are you sure?</h2>
            </div>
            <div class="menu-dialog-body">
                <span class="menu-dialog-choice" onclick="Menu.fileClose(0x1)">Yes</span>
                <span class="menu-dialog-choice" onclick="Menu.hideMenu()">No</span>
            </div>
        </div>
    </div>

    <div id="context-block">
        <div id="on-process-context-menu" class="context-content">
            <a id="on-process-context-menu-change-context" href="javascript:void(null)">Change context<span class="hotkey-description">Alt+B</span></a>
            <a id="on-process-context-menu-rename" href="javascript:void(null)">Rename<span class="hotkey-description">Alt+R</span></a>
            <a id="on-process-context-menu-delete" href="javascript:void(null)">Delete<span class="hotkey-description">Delete</span></a>
        </div>

        <div id="on-state-context-menu" class="context-content">
            <a id="on-state-context-menu-new-transition" href="javascript:void(null)">New transition<span class="hotkey-description">Alt+T</span></a>
            <a id="on-state-context-menu-initial" href="javascript:void(null)">Initial<span class="hotkey-description">Alt+I</span></a>
            <a id="on-state-context-menu-rename" href="javascript:void(null)">Rename<span class="hotkey-description">Alt+R</span></a>
            <a id="on-state-context-menu-delete" href="javascript:void(null)">Delete<span class="hotkey-description">Delete</span></a>
        </div>

        <div id="on-transition-context-menu" class="context-content">
            <a id="on-transition-context-menu-delete" href="javascript:void(null)">Delete<span class="hotkey-description">Delete</span></a>
            <a id="on-transition-context-menu-change-condition" href="javascript:void(null)">Change condition<span class="hotkey-description">Alt+R</span></a>
        </div>

        <div id="on-svg-context-menu" class="context-content">
            <a id="on-svg-context-menu-new-state" href="javascript:void(null)">New state<span class="hotkey-description">Alt+G</span></a>
            <a id="on-svg-context-menu-new-transition" href="javascript:void(null)">New transition<span class="hotkey-description">Alt+T</span></a>
            <hr/>
            <a id="on-svg-context-menu-undo" href="javascript:Constructor.undo()">Undo<span class="hotkey-description">Ctrl+Z, Alt+Z</span></a>
            <a id="on-svg-context-menu-redo" href="javascript:Constructor.redo()">Redo<span class="hotkey-description">Ctrl+Y, Alt+Y</span></a>
        </div>

        <div id="on-area-context-menu" class="context-content">
            <a id="on-area-context-menu-new-process" href="javascript:Menu.constructorNewProcess(null)">New process<span class="hotkey-description">Alt+P</span></a>
            <hr/>
            <a id="on-area-context-menu-undo" href="javascript:Constructor.undo()">Undo<span class="hotkey-description">Ctrl+Z, Alt+Z</span></a>
            <a id="on-area-context-menu-redo" href="javascript:Constructor.redo()">Redo<span class="hotkey-description">Ctrl+Y, Alt+Y</span></a>
        </div>
    </div>

    <div id="clonable-block">
        <figure id="clonable-project-item" class="item">
            <img src="{% static 'src/project.png' %}" alt="project">
            <figcaption></figcaption>
        </figure>

        <figure id="clonable-file-item" class="item">
            <img src="{% static 'src/file.png' %}" alt="file">
            <figcaption></figcaption>
        </figure>
    </div>

    <div id="download-block">
        <a id="download-href"></a>
        <input id="upload-href" type="file" accept=".pml,.tau,.smcf"/>
    </div>

{% endblock %}
