{% extends 'cabinet.html' %}

{% load staticfiles %}

{% block ecloaded %}
    Interaction.onWindowLoad();
{% endblock %}

{% block hcscripts %}
    <script type="text/javascript" src="{% static 'js/student/interaction/interaction.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/student/gui/workarea.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
            Interaction.initializeStudent("{{ studentInformation | escapejs }}", "{{ projectsInformation | escapejs }}", "{{ groupsInformation | escapejs }}");
        {% endautoescape %}
    </script>
{% endblock %}

{% block title %}Student{% endblock %}

{% block information %}
    <p class="caption">About student</p>
    <p><span class="prefix">First name:</span><span id="information-student-first-name"></span></p>
    <p><span class="prefix">Last name:</span><span id="information-student-last-name"></span></p>
    <p><span class="prefix">Email:</span><span id="information-student-email"></span></p>
    <p><span class="prefix">ID:</span><span id="information-student-identifier"></span></p>
{% endblock %}

{% block options %}
    <li>
        <button class="options-button">Change profile</button>
    </li>
    <li>
        <button class="options-button">New project</button>
    </li>
{% endblock %}

{% block items %}
    <ul class="content-tabs">
        <li><span id="project-tab" class="tab-label active-tab">Projects</span></li>
        <li><span id="group-tab" class="tab-label">Groups</span></li>
    </ul>

    <div id="project-content" class="items-content">

    </div>

    <div id="group-content" class="items-content">

    </div>
{% endblock %}

{% block about %}
    <div id="about-project">
        <p class="caption">About project</p>
        <p><span class="prefix">Title:</span><span id="about-project-title"></span></p>
        <p><span class="prefix">ID:</span><span id="about-project-identifier"></span></p>

        <div class="about-button-container">
            <button class="about-button about-half-button">Rename</button>
            <button class="about-button about-half-button">Delete</button>
            <button class="about-button">To project page</button>
        </div>
    </div>

    <div id="about-group">
        <p class="caption">About group</p>
        <p><span class="prefix">Title:</span><span id="about-group-title"></span></p>
        <p><span class="prefix">ID:</span><span id="about-group-identifier"></span></p>

        <div class="about-button-container">
            <button class="about-button">Accept invitation</button>
            <button class="about-button">Quit group</button>
            <button class="about-button">To group page</button>
        </div>
    </div>
{% endblock %}

{% block dialog %}
     <!-- Dialog's windows--> <div class="dialog-content">
<div class="dialog-title">
<span>Header</span>
<span class="dialog-close">&times;</span>
</div>
 <div class="dialog-text"">What is love?
Baby don't hurt me
Don't hurt me
No more
Oh, I don't know, what can I do?
What else can I say, it's up to you
I know we're one, just me and you
I can't go on
 </div>
        <div class="menu-dialog-submit">
                    <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="Ok" />
                </div>
    </div>
    <div class="dialog-content-sure">
<div class="dialog-title">
<span >Are you sure?</span>
<span class="dialog-close" >&times;</span>
</div>
        <div class="menu-dialog-submit">
                    <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="Ok" />
                    <input id="menu-constructor-rename-process-submit-button" class="menu-submit-button" type="button" value="No" />
                </div>
    </div>
<div class="dialog-change-information">
<div class="dialog-title">
<span class="dialog-text">Change information</span>
<span class="dialog-close" >&times;</span>
</div>
 <div class="content-change-information"> <form action="" method="post" autocomplete="on">

                        <p>
                            <label for="dialog-register-first-name">First name:</label>
                            <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                        </p>
                        <p>
                            <label for="dialog-register-last-name">Last name:</label>
                            <input id="dialog-register-last-name" name="register-last-name" required="required" type="text"/>
                        </p>
                        <p>
                            <label for="dialog-register-password">Password:</label>
                            <input id="dialog-register-password" name="register-password" required="required" type="password"/>
                        </p>
                        <p>
                            <label for="dialog-register-password-confirm">Confirm your password:</label>
                            <input id="dialog-register-password-confirm" required="required" type="password"/>
                        </p>
                    </form>
     </div>

        <div class="menu-dialog-submit">
                    <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok" />
                    <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel" />
                </div>
    </div>
    <div class="dialog-change-information">
<div class="dialog-title">
<span class="dialog-text">Project</span>
<span class="dialog-close" >&times;</span>
</div>
 <div class="content-change-information"> <form action="" method="post" autocomplete="on">

                        <p>
                            <label for="dialog-register-first-name">Title:</label>
                            <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                        </p>

                    </form>
     </div>

        <div class="menu-dialog-submit">
                    <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok" />
                    <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel" />
                </div>
    </div>
    <div class="search-block">
        <div class="dialog-title">
            <span class="dialog-text">Searching</span>
            <span class="dialog-close">&times;</span>
        </div>
        <form class="search-form">
            <input type="search" class="input-search" placeholder="Enter the name for search..." />
            <button class="search-btn">
                <i class="fa search-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/High-contrast-system-search.svg/500px-High-contrast-system-search.svg.png" alt="project">
                </i>
            </button>
        </form>
    <span class="search-list">
        <li>Teacher1</li>
        <li>Teacher2</li>
        <li>Teacher3</li>
        <li>Teacher4</li>
    </span>
    <div class="menu-dialog-submit">
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Ok"/>
            <input id="menu-constructor-rename-process-submit-button" class="change-menu-submit-button" type="button" value="Cancel"/>
        </div>
    </div>
{% endblock %}

{% block clonable %}
    <figure id="clonable-project-item" class="item">
        <img src="{% static 'src/project.png' %}" alt="project">
        <figcaption></figcaption>
    </figure>

    <figure id="clonable-group-item" class="item">
        <img src="{% static 'src/group.png' %}" alt="project">
        <figcaption></figcaption>
    </figure>
{% endblock %}


