{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <script type="text/javascript" src="{% static 'lib/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/util/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/authorization/authorization.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/dialog/dialog.js' %}"></script>

        <script type="text/javascript">
            {% autoescape off %}
                Authorization.initializeAuthorization("{{ userErrorCode | escapejs }}", "{{ userType | escapejs }}", "{{ userEmail | escapejs }}");
            {% endautoescape %}
        </script>

        <script type="text/javascript">
            window.onload = () => {
                Authorization.onWindowLoad();
                {% block eloaded %}{% endblock %}
            };

            window.onclick = function(event) {
                Authorization.onWindowClick(event);
                {% block eclicked %}{% endblock %}
            };

            document.onkeydown = function(event) {
                if (TEST === true)
                    return;

                if (!Dialog.keyHandler(event)) {
                    return;
                }

                {% block ehandler %}{% endblock %}
            };

            Dialog.hideDialog = function() {
                Authorization.hideDialog();

                {% block ehidedialog %}{% endblock %}

                Dialog.dialogDisplayed = false;
                Dialog.dialogSubmitButton = null;
            };

            Dialog.hideContext = function() {
                {% block ehidecontext %}{% endblock %}

                Dialog.contextDisplayed = false;
            };
        </script>

        {% block hscripts %} {% endblock %}

        <link rel="stylesheet" href="{% static 'css/template.css' %}">

        {% block style %}{% endblock %}

        <title> {% block title %} {% endblock %} </title>
    </head>

    <body>
        <header>
            <nav>
                <ul class="main-navigation">
                    <li><a class="important-tab" href=".">Home</a></li>

                    {% block navigation %} {% endblock %}

                    <li style="float:right">
                        <div id="login-success">
                            <img id="login-success-user-icon" src="{% static 'src/user.png' %}" align="middle"/>
                            <div id="login-success-dropdown-container" class="dropdown">
                                <a id="login-success-email-title" class="normal-tab"></a>
                                <div class="dropdown-content">
                                    <a id="login-success-to-profile">Profile</a>
                                    <hr/>
                                    <form id="logout-form" action="" method="post" autocomplete="on">
                                        {% csrf_token %}
                                        <a id="login-success-logout" href="javascript:void(null)" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
                                        <input id="logout-user-identifier" name="logout" type="hidden" value="true"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="login-failed" style="display: none">
                            <a id="login-failed-login" class="normal-tab" href="javascript:Authorization.showLoginDialog()">Login</a>
                            <a id="login-failed-registration" class="normal-tab" href="javascript:Authorization.showRegistrationDialog()">Registration</a>
                        </div>
                    </li>
                </ul>
            </nav>

            {% block header %} {% endblock %}
        </header>

        <section>
            {% block content %} {% endblock %}

            <div id="authenticate-dialog-content">
                <div id="dialog-login" class="authenticate-dialog">
                    <form action="" method="post" autocomplete="on">
                        {% csrf_token %}

                        <h1>Log in</h1>
                        <p>
                            <label for="dialog-login-email">Email: </label>
                            <input id="dialog-login-email" name="login-email" required="required" type="email"/>
                        </p>
                        <p>
                            <label for="dialog-login-password">Password: </label>
                            <input id="dialog-login-password" name="login-password" required="required" type="password"/>
                        </p>
                        <p id="dialog-login-submit-error"></p>
                        <p class="authenticate-dialog-login authenticate-dialog-button">
                            <input id="dialog-login-submit-button" type="submit" value="Login"/>
                        </p>
                    </form>
                </div>
                <div id="dialog-register" class="authenticate-dialog">
                    <form action="" method="post" autocomplete="on" onsubmit="return Authorization.validateRegistrationForm()">
                        {% csrf_token %}

                        <h1>Sign Up</h1>
                        <p>
                            <label for="dialog-register-first-name">First name:</label>
                            <input id="dialog-register-first-name" name="register-first-name" required="required" type="text"/>
                        </p>
                        <p>
                            <label for="dialog-register-last-name">Last name:</label>
                            <input id="dialog-register-last-name" name="register-last-name" required="required" type="text"/>
                        </p>
                        <p>
                            <label for="dialog-register-email">Email:</label>
                            <input id="dialog-register-email" name="register-email" required="required" type="email"/>
                        </p>
                        <p>
                            <label for="dialog-register-password">Password:</label>
                            <input id="dialog-register-password" name="register-password" required="required" type="password"/>
                        </p>
                        <p>
                            <label for="dialog-register-password-confirm">Confirm your password:</label>
                            <input id="dialog-register-password-confirm" required="required" type="password"/>
                        </p>

                        <input id="dialog-register-is-teacher" name="register-is-teacher" value="true" type="checkbox" onchange="Authorization.teacherCheckedChanged(this);"/>
                        <label for="dialog-register-is-teacher">I'm a teacher</label>

                        <p id="dialog-register-teacher-position">
                            <label for="dialog-register-position">Position:</label>
                            <input id="dialog-register-position" name="register-teacher-position" type="text"/>
                        </p>

                        <p id="dialog-register-submit-error"></p>

                        <p class="authenticate-dialog-sign authenticate-dialog-button">
                            <input id="dialog-register-submit-button" type="submit" value="Sign Up"/>
                        </p>
                    </form>
                </div>
            </div>

        </section>

        <footer> {% block footer %} {% endblock %} </footer>


        {% block fscripts %} {% endblock %}
    </body>

</html>