<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="{% static 'js/util/util.js' %}"></script>

        <!-- Spin -->
        <script type="text/javascript" src="{% static 'lib/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/svg.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/commands.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/automaton.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/area.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/process.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/state.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/transition.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/constructor/constructor.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin/gui/gui.js' %}"></script>
        <!-- End Spin -->

        <script src="{% static 'lib/js/qunit.js' %}"></script>

        <link rel="stylesheet" href="{% static 'lib/css/qunit.css' %}">

        <title>QUnit Tests</title>
    </head>
    <body>
        <!-- Spin -->
        <div id="constructor" style="display: none">
            <div id="constructor-root"></div>
        </div>
        <div style="display: none">
            <pre id="application-global-context"></pre>
            <pre id="application-init-start"></pre>
            <pre id="application-init-content"></pre>
            <pre id="application-init-end"></pre>
        </div>
        <!-- End Spin -->

        <div id="qunit"></div>
        <div id="qunit-fixture"></div>

        <script src="{% static 'js/spin/test/test.js' %}"></script>
    </body>
</html>