.search-list li {
    height: 25px;
    margin: 3px 0;
    font-family: Georgia, serif;
    font-size: 23px;
    text-indent: 20px;
    background-color: #f0f0f0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa img {
    width: 20px;
}

.search-form {
    display: flex;
    position: relative;
    border: 1px solid black
}

.input-search {
    width: 300px;
    font-size: 16px;
    border: none;
    height: 52px;
    padding: 15px 0 15px 20px;
    background: #f9f9f9;
    color: #3c3c3d;
    transition: background .2s;
}

.search-btn {
    border: none;
    border-radius: 0;
    padding: 0;
    height: 52px;
    width: 52px;
    background: #f9f9f9;
    color: white;
    cursor: pointer;
}

.search-block {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 100px;
    width: 350px;
    min-height: 150px;
    max-height: 400px;
    background-color: #f9f9f9;
}

.search-block input.change-menu-submit-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    outline: 0 none;
    padding: 8px 20px;
    margin: 9px 9px 10px 53px;
    font-family: Georgia, serif;
    font-size: 17px;
}

/* Dialog's windows*/
/*.back-dialog{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}*/
#dialog-block {
    display: none;
    clear: both;
}

.dialog-content {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 100px;
    max-width: 300px;
    min-height: 150px;
    max-height: 400px;
    background-color: #f9f9f9;

}

.dialog-text {
    margin: 2%;
}

.dialog-change-information {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    margin: 20px;
    min-width: 100px;
    max-width: 300px;
    min-height: 150px;
    max-height: 500px;
    background-color: #f9f9f9;

}

div.menu-dialog-submit {
    background-color: #f9f9f9;
    width: 300px;
    margin: 0;
    display: inline-block;
    float: left;
    text-align: center;
}

input.menu-submit-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    outline: 0 none;
    padding: 8px 20px;
    margin: 8px 31px 10px 31px;
    font-family: Georgia, serif;
    font-size: 17px;
}

input.change-menu-submit-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    outline: 0 none;
    padding: 8px 20px;
    margin: 8px 26px 10px 26px;
    font-family: Georgia, serif;
    font-size: 17px;
}

.menu-submit-button:hover {
    color: #27AE60;
}

.change-menu-submit-button:hover {
    color: #27AE60;
}

.content-change-information {
    margin: 0 27px;
}

.dialog-title {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    background-color: #34495E;
    color: #fff;
    font-size: 25px;
}

.dialog-content-sure {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 20px;
    overflow: hidden;
    width: 300px;
    background-color: #f9f9f9;
}

.dialog-close {
    border: 2px white solid;
    height: 22px;
    width: 22px;
    margin: 2px;
    text-align: center;
    color: white;
    float: right;
    font-size: 19px;
    font-weight: bold;
}

.dialog-close:hover {
    color: #27AE60;
    cursor: pointer;
}

/*
    Navigation bar style.
*/

ul.main-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

ul.main-navigation li {
    float: left;
}

ul li a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.normal-tab:hover, .important-tab:hover {
    transition: .25s;
    color: #27AE60;
}

.normal-tab:focus, .important-tab:focus {
    transition: .25s;
    outline: none;
    color: #27AE60;
}

.important-tab {
    font-size: 34px;
    padding: 13px 24px;
    font-weight: 700;
}

.href-tab {
    font-size: 20px;
    padding: 24px 20px;
    font-weight: 700;
    cursor: pointer;
}

.normal-tab {
    font-size: 20px;
    padding: 24px 20px;
    font-weight: 700;
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

ul.main-navigation li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495E;
    min-width: 140px;
    z-index: 2147483646;
}

.dropdown-content .hotkey-description {
    color: #959595;
    float: right;
    margin-left: 7px;
    margin-top: 2px;
    font-size: 11px;
}

.dropdown-content a {
    color: #FFFFFF;
    margin: 0;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-content a.unavailable-option {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.dropdown-content hr {
    border: none;
    margin: 0 5px;
    padding: 0;
    height: 1px;
    background-color: #2F4154 !important;
}

ul.main-navigation li .dropdown-content a:hover:not(.unavailable-option) {
    background-color: #2ECC71
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
    Cabinet style.
*/

#cabinet-content-screen {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cabinet-error-screen {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cabinet-error-message {
    display: inline-block;
    color: #BB0000;
    font-family: Georgia, serif;
    font-size: 22pt;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 15%;
}

#left-block {
    display: block;
    float: left;
    width: 18%;
    margin: 0;
    padding: 1%;
}

#center-block {
    display: block;
    float: left;
    width: 58%;
    margin: 0;
    padding: 1%;
}

#right-block {
    display: block;
    float: left;
    width: 18%;
    margin: 0;
    padding: 1%;
}

#clonable-block {
    display: none;
    margin: 0;
    padding: 0;
}

#information-block {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#options-block {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#items-block {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#about-block {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#information-block p, #about-block p {
    display: block;
    float: left;
    width: 100%;
    font-family: Georgia, serif;
    font-size: 24px;
    color: #2F4154;
    margin: 0;
    padding: 0;
}

p.caption {
    display: block !important;
    float: left !important;
    background-color: #34495E !important;
    color: #FFFFFF !important;
    width: 98% !important;
    text-align: center !important;
    font-family: Georgia, serif !important;
    font-size: 24px !important;
    margin: 0 1% 1% 1% !important;
    padding: 4px 0 !important;
}

p span.prefix {
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 0;
}

#options-panel {
    margin: 20px 0 0 0;
    padding: 0;
}

#options-panel li {
    display: block;
}

button.options-button {
    background-color: #34495E;
    color: #FFFFFF;
    width: 98%;
    min-height: 36px;
    margin: 1%;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

button.options-button:hover:not(.unavailable-button) {
    color: #2ECC71;
}

ul.content-tabs {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0 0 1% 0;
    list-style-type: none;
    overflow: hidden;
}

ul.content-tabs li {
    margin: 0;
    padding: 14px 0;
    display: inline-block;
    width: 50%;
    height: 48px;
    float: left;
    text-align: center;
    background-color: #34495E;
}

.tab-label:hover:not(.active-tab) {
    transition: .25s;
    color: #2ECC71;
}

.active-tab {
    color: #2ECC71 !important;
}

.tab-label {
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 20px;
}

.items-content {
    min-height: 350px;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #34495E;
    border-radius: 4px;
}

figure.active-item {
    background-color: #2ECC71 !important;
}

figure.item {
    display: block;
    float: left;
    width: 100px;
    margin: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    border: 1px solid #34495E;
    border-radius: 4px;
}

figure.item img {
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 0;
}

figure.item figcaption {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #2F4154;
    margin: 0 0 10px 0;
    padding: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.about-button-container {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}

button.about-button {
    display: block;
    float: left;
    background-color: #34495E;
    color: #FFFFFF;
    width: 98%;
    min-height: 36px;
    margin: 1%;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

button.about-half-button {
    width: 48% !important;
}

button.about-button:hover:not(.unavailable-button) {
    color: #2ECC71;
}

#about-file, #about-student, #about-curator, #about-project, #about-group {
    display: none;
}

#file-no-access-error {
    display: none;
    float: left;
    width: 100%;
    margin: 140px 0 0 0;
    padding: 0;
    text-align: center;
    color: #BB0000;
    font-family: Georgia, serif;
    font-size: 22pt;
}