/*
    Spin content style.
    TODO Use CSS3 @media.
*/

.caption {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 27px;
    font-family: Georgia, serif;
    color: #34495E;
}

#content-block {
    width: 100%;
    position: absolute;
    display: none;
}

#constructor-block {
    width: 70%;
    min-height: 560px;
    display: inline-block;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#constructor-overlay {
    display: none;
    width: 68%;
    min-height: 500px;
    max-height: 500px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: absolute;
    opacity: 0.15;
    padding: 0;
    background-color: lightblue;
    cursor: pointer;
    z-index: 2147483645;
}

#constructor {
    width: 68%;
    min-height: 500px;
    max-height: 500px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: scroll;
    position: absolute;
    -webkit-user-drag: none;
}

#constructor-root {
    -webkit-user-drag: none;
}

#instruments-block {
    width: 27%;
    display: inline-block;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#source-block {
    width: 47%;
    display: inline-block;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#promela-source {
    width: 96%;
    min-height: 1000px;
    box-sizing: border-box;
    padding: 0;
    margin: 2%;
}

#options-block {
    width: 50%;
    display: inline-block;
    float: right;
    margin-left: 1%;
    margin-top: 1%;
}

ul.verification-simulation-tabs {
    display: inline-block;
    width: 98%;
    height: 48px;
    padding: 0;
    margin: 1% 1% 1% 1%;
    list-style-type: none;
    overflow: hidden;
}

ul.verification-simulation-tabs li {
    margin: 0;
    padding: 14px 0;
    display: inline-block;
    width: 50%;
    height: 48px;
    float: left;
    text-align: center;
    background-color: #34495E;
}

.tab-label:hover:not(.active-tab) {
    transition: .25s;
    color: #2ECC71;
}

.active-tab {
    color: #2ECC71 !important;
}

.tab-label {
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 20px;
}

#verification-content {
    display: block;
    width: 98%;
    padding: 0;
    margin: 0 1%;
}

#safety-options {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#non-progress-options {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#acceptable-options {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#exhaustive-options {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#depth-first-options {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#bounded-context-switching-options {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#breadth-first-options {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 60px !important;
}

#simulation-content {
    display: none;
    width: 98%;
    padding: 0;
    margin: 0 1%;
}

#flags-block {
    width: 50%;
    display: inline-block;
    float: right;
    margin-left: 1%;
    margin-top: 1%;
}

#command-line {
    width: 98%;
    float: left;
    font-family: monospace;
    padding: 0;
    margin: 1%;
}

.error {
    color: #bb0000;
}

#submit-block {
    width: 50%;
    display: inline-block;
    float: right;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#submit-form {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

#submit-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    border-radius: 0;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 16px 35px;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 20px;
}

#submit-button:hover {
    color: #2ECC71;
}

#submit-error {
    font-size: 12pt;
    font-family: monospace;
    display: none;
    color: #ff2020;
}

#result-block {
    width: 98%;
    display: inline-block;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#operation-result {
    width: 98%;
    box-sizing: border-box;
    padding: 0;
    margin: 1%;
}

/*
    Controls style.
*/

.control-caption {
    display: inline-block;
    font-size: 27px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    color: #34495E;
    margin: 7px 0;
    padding: 0;
}

.control-label {
    display: inline-block;
    color: #2F4154;
    width: 100%;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.control-label p {
    display: inline-block !important;
    font-family: Georgia, serif !important;
    float: left !important;
    font-size: 15px !important;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
}

.checkbox-icon {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #34495E;
    background-color: #34495E;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    transition: .25s linear;
}

.checkbox-icon:hover {
    color: #FFFFFF;
}

.checkbox-icon-checked {
    background-color: #2ECC71;
    color: #FFFFFF;
}

.control-checkbox {
    display: none;
}

.radiobutton-icon {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9.3pt;
    text-align: center;
    color: #34495E;
    background-color: #34495E;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 100%;
    transition: .25s linear;
}

.radiobutton-icon:hover {
    color: #FFFFFF;
}

.radiobutton-icon-checked {
    background-color: #2ECC71;
    color: #FFFFFF;
}

.control-radiobutton {
    display: none;
}

.control-number {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 5px !important;
    padding: 0;
}

p.menu-dialog-control {
    text-align: left;
    margin-left: -6%;
    margin-bottom: 0;
    margin-top: 0;
}

.control-input {
    border: 1px solid #2F4154;
    border-radius: 4px;
    outline: none;
    resize: none;
    line-height: 1.5;
}

.description {
    display: block;
    margin: 4px;
    padding: 0;
    color: #2F4154;
    font-family: Georgia, serif;
    font-size: 15px;
}

hr {
    border: none;
    margin: 5px 10px;
    padding: 0;
    height: 1px;
    background-color: #2F4154;
}

/*
    Start screen style.
*/

#start-screen {
    width: 100%;
    position: absolute;
}

.start-message {
    display: inline-block;
    color: #34495E;
    font-family: Georgia, serif;
    font-size: 22pt;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 15%;
}

/*
    Constructor style.
*/

.selected-initial-state {
    fill: #2ECC71;
    cursor: pointer;
    stroke: #34495E;
    stroke-width: 2;
    -webkit-user-drag: none;
}

.selected-state {
    fill: #2ECC71;
    cursor: pointer;
    stroke-width: 0;
    -webkit-user-drag: none;
}

.unselected-initial-state {
    fill: #34495E;
    cursor: pointer;
    stroke: #2ECC71;
    stroke-width: 2;
    -webkit-user-drag: none;
}

.unselected-state {
    fill: #34495E;
    cursor: pointer;
    stroke-width: 0;
    -webkit-user-drag: none;
}

.state-name {
    font-family: Georgia, serif;
    fill: #FFFFFF;
    font-size: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.selected-transition {
    stroke: #2ECC71;
    stroke-width: 2;
    cursor: pointer;
    -webkit-user-drag: none;
}

.selected-marker {
    fill: #2ECC71;
    cursor: pointer;
    -webkit-user-drag: none;
}

.unselected-marker {
    fill: #34495E;
    cursor: pointer;
    -webkit-user-drag: none;
}

.unselected-transition {
    stroke: #34495E;
    stroke-width: 2;
    cursor: pointer;
    -webkit-user-drag: none;
}

.selected-transition-name {
    font-family: Georgia, serif;
    fill: #2ECC71;
    font-size: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.transition-name {
    font-family: Georgia, serif;
    fill: #34495E;
    font-size: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.process-container {
    position: absolute;
    display: block;
    float: left;
    min-width: 400px;
    min-height: 200px;
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: solid 1px #34495E;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-user-drag: none;
}

.process-header {
    display: block;
    float: left;
    min-width: 400px;
    min-height: 40px;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #34495E;
    border-bottom: solid 1px #34495E;
    cursor: pointer;
    -webkit-user-drag: none;
}

.process-selected {
    border-bottom: solid 1px #34495E;
    background-color: #2ECC71 !important;
}

.process-caption {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 7px 0 0 0;
    text-align: center;
    font-size: 23px;
    font-family: Georgia, serif;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.process-content {
    display: block;
    float: left;
    overflow: scroll;
    min-width: 400px;
    min-height: 160px;
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
}

/*
    Instrument style.
*/

.instrument-label {
    display: inline-block;
    color: #2F4154;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.instrument-label p {
    display: inline-block;
    font-family: Georgia, serif;
    float: left;
    font-size: 15px;
    margin: 10px 3px 0 7px;
    padding: 0;
}

.unavailable-button {
    opacity: 0.5 !important;
    pointer-events: none !important;
    cursor: default !important;
}

#new-process-button {
    display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #34495E;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

#new-process-button:hover:not(.unavailable-button) {
    color: #2ECC71;
}

#new-state-button {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #34495E;
    border: none;
    border-radius: 100%;
    outline: none;
    margin: 0;
    padding: 0;
}

#new-state-button:hover:not(.unavailable-button) {
    color: #2ECC71;
}

#new-transition-button {
    display: inline-block;
    float: left;
    width: 50px;
    height: 26px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
    background-color: #34495E;
    border: none;
    outline: none;
    margin: 7px 0 0 0;
    padding: 0;
}

#new-transition-button:hover:not(.unavailable-button) {
    color: #2ECC71;
}

#to-promela-block {
    display: block;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

#to-promela-error {
    font-size: 12pt;
    font-family: monospace;
    display: none;
    margin-bottom: 8px;
    color: #ff2020;
}

#to-promela-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    border-radius: 0;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 16px 35px;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 20px;
}

#to-promela-button:hover {
    color: #2ECC71;
}

.text-container {
    display: block;
    float: left;
    width: 98%;
    margin: 1%;
    padding: 0;
}

.unmodifiable-text {
    display: inline;
    color: #000000;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.modifiable-text {
    max-width: 100%;
    width: 100%;
    display: block;
    color: #27AE60;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

#constructor-step-counter-body {
    display: none;
    margin-left: 2%;
    margin-top: 1%;
}

/*
    Menu dialog modal boxes style.
*/

#menu-edit-header, #menu-constructor-header {
    display: none;
}

#menu-content {
    display: none;
    position: fixed;
    z-index: 2147483647;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes animation-top {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animation-top {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.menu-dialog-close {
    color: white;
    float: right;
    padding-right: 8px;
    font-size: 38px;
    font-weight: bold;
}

.menu-dialog-close:hover,
.menu-dialog-close:focus {
    color: #2ECC71;
    text-decoration: none;
    cursor: pointer;
}

.menu-dialog-header {
    padding: 0;
    background-color: #34495E;
    color: #FFFFFF;
}

.menu-dialog-body {
    padding: 0;
}

.menu-dialog-caption {
    padding: 3% 0;
    margin-bottom: 0;
    margin-left: 3%;
    background-color: #34495E;
    color: #FFFFFF;
}

.menu-dialog-text {
    display: inline-block;
    font-family: Georgia, serif !important;
    padding: 0;
}

.menu-dialog-combobox {
    background-color: #FFFFFF !important;
}

.menu-submit-error {
    width: 100%;
    text-align: center;
    font-size: 12pt;
    font-family: monospace;
    display: none;
    color: #ff2020;
    margin: 5px 0 0 0;
    padding-bottom: 10px;
}

.menu-submit-button {
    color: #FFFFFF;
    background-color: #34495E;
    border: none;
    border-radius: 0;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 8px 20px;
    margin: 8px 0 10px 0;
    font-family: Georgia, serif;
    font-size: 16px;
}

.menu-submit-button:hover {
    color: #2ECC71;
}

.menu-dialog-submit {
    background-color: #f9f9f9;
    width: 94%;
    margin: 0;
    padding: 0 3%;
    display: inline-block;
    float: left;
    text-align: center;
}

.menu-dialog-field {
    background-color: #f9f9f9;
    width: 94%;
    margin: 0;
    padding: 10px 3%;
    display: inline-block;
    float: left;
}

.menu-dialog-field p {
    font-family: Georgia, serif;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    padding: 0 7px 0 0;
}

.menu-dialog-custom-field {
    background-color: #f9f9f9;
    width: 94%;
    margin: 0;
    padding: 5px 3%;
    display: inline-block;
    float: left;
}

.menu-dialog-custom-field-span {
    display: inline-block;
    float: left;
    font-family: Georgia, serif;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 10px;
}

.menu-dialog-option {
    background-color: #f9f9f9;
    font-family: Georgia, serif;
    font-size: 20px;
    width: 94%;
    padding: 10px 3%;
    display: inline-block;
}

.menu-dialog-choice {
    background-color: #f9f9f9;
    font-family: Georgia, serif;
    font-size: 20px;
    display: inline-block;
    float: left;
    width: 44%;
    padding: 10px 3%;
}

.menu-dialog-option:hover {
    background-color: #2ECC71;
    cursor: pointer;
}

.menu-dialog-choice:hover {
    background-color: #2ECC71;
    cursor: pointer;
}

.menu-dialog {
    /*text-align: center;*/
    display: none;
    font-size: 17px;
    position: relative;
    background-color: #FFFFFF;
    color: #34495E;
    margin: 10% auto;
    padding: 0;
    width: 19%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animation-top;
    -webkit-animation-duration: 0.3s;
    animation-name: animation-top;
    animation-duration: 0.3s*/
}

#menu-file-save-to-project-name {
    display: inline-block !important;
    float: left !important;
}

#menu-open-from-project-back-button {
    background-color: #34495E;
    color: #FFFFFF;
    width: 98%;
    min-height: 32px;
    margin: 1%;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

#menu-open-from-project-back-button:hover {
    color: #2ECC71;
}

/*
    Items.
*/

#clonable-block {
    display: none;
}

.items-content {
    width: 100%;
    text-align: center;
    min-height: 230px;
    max-height: 230px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #34495E;
    border-radius: 4px;
}

figure.active-item {
    background-color: #2ECC71 !important;
}

figure.item {
    display: block;
    float: left;
    width: 70px;
    margin: 10px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    border: 1px solid #34495E;
    border-radius: 4px;
}

figure.item img {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 0;
}

figure.item figcaption {
    font-family: Georgia, serif;
    font-size: 15px;
    color: #2F4154;
    margin: -9px 0 10px 0;
    padding: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

/*
    Context menu style.
*/

#context-block {
    display: none;
    position: fixed;
    z-index: 2147483647;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#on-svg-context-menu {
    top: 0;
    left: 0;
    display: none;
}

#on-state-context-menu {
    top: 200px;
    left: 300px;
    display: none;
}

#on-transition-context-menu {
    top: 700px;
    left: 500px;
    display: none;
}

.context-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    z-index: 2147483647;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.context-content a {
    color: #34495E;
    margin: 0;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
    font-size: 15px;
}

.context-content .hotkey-description {
    color: #959595;
    float: right;
    margin-left: 7px;
    margin-top: 2px;
    font-size: 11px;
}

.context-content a.unavailable-option {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.context-content hr {
    border: none;
    margin: 0 5px;
    padding: 0;
    height: 1px;
    background-color: #2F4154 !important;
}

.context-content a:hover {
    background-color: #2ECC71;
}

/*
    Download element style.
 */

#download-block, #download-href, #upload-href {
    display: none;
}
