/*
    Containers style.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 20px;
}

/*
    Navigation bar style.
*/

ul.main-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

ul.main-navigation li {
    float: left;
}

ul li a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.normal-tab:hover, .important-tab:hover {
    transition: .25s;
    color: #27AE60;
}

.normal-tab:focus, .important-tab:focus {
    transition: .25s;
    outline: none;
    color: #27AE60;
}

.important-tab {
    font-size: 34px;
    padding: 13px 24px;
    font-weight: 700;
}

.href-tab {
    font-size: 20px;
    padding: 24px 20px;
    font-weight: 700;
    cursor: pointer;
}

.normal-tab {
    font-size: 20px;
    padding: 24px 20px;
    font-weight: 700;
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

ul.main-navigation li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495E;
    min-width: 140px;
    z-index: 2147483646;
}

.dropdown-content .hotkey-description {
    color: #959595;
    float: right;
    margin-left: 7px;
    margin-top: 2px;
    font-size: 11px;
}

.dropdown-content a {
    color: #FFFFFF;
    margin: 0;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-content a.unavailable-option {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.dropdown-content hr {
    border: none;
    margin: 0 5px;
    padding: 0;
    height: 1px;
    background-color: #2F4154 !important;
}

ul.main-navigation li .dropdown-content a:hover:not(.unavailable-option) {
    background-color: #2ECC71
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
    Login.
*/

#login-success,
#login-failed {
    display: none;
}

#login-success-user-icon {
    position: relative;
    display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    margin: 17px -7px 17px 0;
}

#login-success-dropdown-container {
    display: inline-block;
}

#authenticate-dialog-content {
    display: none;
    position: fixed;
    z-index: 2147483647;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.authenticate-dialog {
    position: relative;
    font-size: 18px;
    font-family: Georgia, serif;
    color: #34495E;
    margin: auto;
    width: 30%;
}

#dialog-register,
#dialog-login {
    display: none;
    padding: 10px 20px 10px 20px;
    width: 360px;
    background: #F7F7F7;
    border: 1px solid #A9C6CA;
    box-shadow: 0 2px 5px #969899, 0 0 8px 5px #ECF2F3 inset;
    border-radius: 5px;
    margin: 3% auto;
}

.authenticate-dialog p {
    margin: 8px 0;
    padding: 0;
}

.authenticate-dialog h1 {
    margin-bottom: 6px;
    font-size: 22px;
    font-family: Georgia, serif;
    background-color: #34495E;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.authenticate-dialog h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 7px;
    background: -webkit-repeating-linear-gradient(left,
    rgba(147, 184, 189, 0) 0%,
    rgba(147, 184, 189, 0.8) 20%,
    rgba(147, 184, 189, 1) 53%,
    rgba(147, 184, 189, 0.8) 79%,
    rgba(147, 184, 189, 0) 100%);
}

.authenticate-dialog input {
    outline: none;
}

.authenticate-dialog input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 6px 5px 6px 6px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing: content-box;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
}

.authenticate-dialog input:not([type="checkbox"]):active,
.authenticate-dialog input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

.authenticate-dialog p.authenticate-dialog-button input {
    width: 30%;
    cursor: pointer;
    background: #34495E;
    padding: 7px 4px;
    font-size: 20px;
    font-family: Georgia, serif;
    color: #FFFFFF;
    box-shadow: none !important;
    border: none !important;
    border-radius: 5px !important;
}

.authenticate-dialog p.authenticate-dialog-button input:hover {
    background: #34495E;
}

.authenticate-dialog p.authenticate-dialog-button input:active,
.authenticate-dialog p.authenticate-dialog-button input:focus {
    color: #27AE60;
    background: #34495E;
    position: relative;
    top: 1px;
}

p.authenticate-dialog-login.authenticate-dialog-button,
p.authenticate-dialog-sign.authenticate-dialog-button {
    text-align: right;
    margin: 5px 0;
}

#dialog-login-submit-error,
#dialog-register-submit-error {
    width: 100%;
    text-align: center;
    font-size: 12pt;
    font-family: monospace;
    display: none;
    color: #ff2020;
    margin: 10px 0 0 0;
}

#dialog-register-teacher-position {
    display: none;
}

#dialog-register-is-teacher:checked ~ #dialog-register-teacher-position {
    display: inline-block;
    width: 100%;
}
